<html>
<head>
  <title>AppRailsAdmin</title>
  <%= stylesheet_link_tag    'aplication.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>


| <%= link_to "Moderator Options", rails_admin_path %> |
</body>
</html>